POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_DB=elixir-phoenix
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
# DATABASE_URL=postgres://myuser:mypassword@localhost:5434/elixir-phoenix
SECRET_KEY_BASE=change_me_to_at_least_64_chars_secret_key_for_production_use_x
PHX_SERVER=true
